<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="apple-mobile-web-app-capable" content="yes">

  <title>Not Playing</title>

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <link rel="stylesheet" href="bootstrap-dark.css">
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <div id="app">
    <div class="d-flex flex-column h-100">
      <div class="p-2" style="background-color: #88888820;">
        <div v-if="view === 'library'">
          <input @change="upload" type="file" multiple class="d-none">
          <button class="btn btn-sm btn-secondary w-100" onclick="this.previousElementSibling.click()">
            Add Files {{ nav[0].startsWith('playlist~') ? 'to Playlist' : 'to Library' }}
          </button>

          <div class="d-flex align-items-center mt-2">
            <div style="width: 33.33%;">
              <button v-if="previousPage" @click="nav.shift()" class="btn btn-link text-decoration-none d-flex align-items-center p-0">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-left" viewBox="0 0 16 16">
                  <path fill-rule="evenodd" d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z"/>
                </svg>
    
                <div class="text-truncate">
                  {{ previousPage }}
                </div>
              </button>
            </div>

            <h5 class="m-0 text-center text-truncate" style="width: 33.33%;">
              {{ currentPage }}
            </h5>

            <div class="d-flex justify-content-end" style="width: 33.33%;">
              <button @click="removePlaylist" v-if="nav[0].startsWith('playlist~')" class="btn text-danger">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-folder-x" viewBox="0 0 16 16">
                  <path d="M.54 3.87.5 3a2 2 0 0 1 2-2h3.672a2 2 0 0 1 1.414.586l.828.828A2 2 0 0 0 9.828 3h3.982a2 2 0 0 1 1.992 2.181L15.546 8H14.54l.265-2.91A1 1 0 0 0 13.81 4H2.19a1 1 0 0 0-.996 1.09l.637 7a1 1 0 0 0 .995.91H9v1H2.826a2 2 0 0 1-1.991-1.819l-.637-7a1.99 1.99 0 0 1 .342-1.31zm6.339-1.577A1 1 0 0 0 6.172 2H2.5a1 1 0 0 0-1 .981l.006.139C1.72 3.042 1.95 3 2.19 3h5.396l-.707-.707z"/>
                  <path d="M11.854 10.146a.5.5 0 0 0-.707.708L12.293 12l-1.146 1.146a.5.5 0 0 0 .707.708L13 12.707l1.146 1.147a.5.5 0 0 0 .708-.708L13.707 12l1.147-1.146a.5.5 0 0 0-.707-.708L13 11.293l-1.146-1.147z"/>
                </svg>
              </button>
            </div>
          </div>

          <div v-if="nav[0] !== '~Library'" class="mt-2">
            <input type="search" placeholder="Search" class="form-control" v-model="search">
            <div v-if="filteredSongs.length > 0" class="d-flex mt-2">
              <div class="me-auto">
                <button @click="remove(filteredSongs)" class="playback-button text-danger">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16">
                    <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z"/>
                  </svg>
                </button>
              </div>

              <div v-if="search" class="d-flex">
                <div class="me-2">
                  <button @click="beginEditing(filteredSongs)" class="playback-button">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                      <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                      <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                    </svg>
                  </button>
                </div>
  
                <div class="me-2">
                  <button @click="playlist.adding = filteredSongs" class="playback-button">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-folder-plus" viewBox="0 0 16 16">
                      <path d="m.5 3 .04.87a1.99 1.99 0 0 0-.342 1.311l.637 7A2 2 0 0 0 2.826 14H9v-1H2.826a1 1 0 0 1-.995-.91l-.637-7A1 1 0 0 1 2.19 4h11.62a1 1 0 0 1 .996 1.09L14.54 8h1.005l.256-2.819A2 2 0 0 0 13.81 3H9.828a2 2 0 0 1-1.414-.586l-.828-.828A2 2 0 0 0 6.172 1H2.5a2 2 0 0 0-2 2zm5.672-1a1 1 0 0 1 .707.293L7.586 3H2.19c-.24 0-.47.042-.683.12L1.5 2.98a1 1 0 0 1 1-.98h3.672z"/>
                      <path d="M13.5 10a.5.5 0 0 1 .5.5V12h1.5a.5.5 0 1 1 0 1H14v1.5a.5.5 0 1 1-1 0V13h-1.5a.5.5 0 0 1 0-1H13v-1.5a.5.5 0 0 1 .5-.5z"/>
                    </svg>
                  </button>
                </div>
              </div>

              <div class="ms-auto">
                <button @click="willShuffle = !willShuffle" class="playback-button" :class="{ 'bg-primary text-white': willShuffle }">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-shuffle" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M0 3.5A.5.5 0 0 1 .5 3H1c2.202 0 3.827 1.24 4.874 2.418.49.552.865 1.102 1.126 1.532.26-.43.636-.98 1.126-1.532C9.173 4.24 10.798 3 13 3v1c-1.798 0-3.173 1.01-4.126 2.082A9.624 9.624 0 0 0 7.556 8a9.624 9.624 0 0 0 1.317 1.918C9.828 10.99 11.204 12 13 12v1c-2.202 0-3.827-1.24-4.874-2.418A10.595 10.595 0 0 1 7 9.05c-.26.43-.636.98-1.126 1.532C4.827 11.76 3.202 13 1 13H.5a.5.5 0 0 1 0-1H1c1.798 0 3.173-1.01 4.126-2.082A9.624 9.624 0 0 0 6.444 8a9.624 9.624 0 0 0-1.317-1.918C4.172 5.01 2.796 4 1 4H.5a.5.5 0 0 1-.5-.5z"/>
                    <path d="M13 5.466V1.534a.25.25 0 0 1 .41-.192l2.36 1.966c.12.1.12.284 0 .384l-2.36 1.966a.25.25 0 0 1-.41-.192zm0 9v-3.932a.25.25 0 0 1 .41-.192l2.36 1.966c.12.1.12.284 0 .384l-2.36 1.966a.25.25 0 0 1-.41-.192z"/>
                  </svg>
                </button>
              </div>

              <div class="ms-3">
                <button @click="playNow(filteredSongs)" class="playback-button">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-play-fill" viewBox="0 0 16 16">
                    <path d="m11.596 8.697-6.363 3.692c-.54.313-1.233-.066-1.233-.697V4.308c0-.63.692-1.01 1.233-.696l6.363 3.692a.802.802 0 0 1 0 1.393z"/>
                  </svg>
                </button>
              </div>

              <div class="ms-2">
                <button @click="addToQueue(filteredSongs)" class="playback-button">
                  <svg style="transform: scaleY(-1);" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-90deg-left" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M1.146 4.854a.5.5 0 0 1 0-.708l4-4a.5.5 0 1 1 .708.708L2.707 4H12.5A2.5 2.5 0 0 1 15 6.5v8a.5.5 0 0 1-1 0v-8A1.5 1.5 0 0 0 12.5 5H2.707l3.147 3.146a.5.5 0 1 1-.708.708l-4-4z"/>
                  </svg>
                </button>
              </div>

              <div class="ms-2">
                <button @click="addToQueue(filteredSongs, true)" class="playback-button">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-90deg-left" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M1.146 4.854a.5.5 0 0 1 0-.708l4-4a.5.5 0 1 1 .708.708L2.707 4H12.5A2.5 2.5 0 0 1 15 6.5v8a.5.5 0 0 1-1 0v-8A1.5 1.5 0 0 0 12.5 5H2.707l3.147 3.146a.5.5 0 1 1-.708.708l-4-4z"/>
                  </svg>
                </button>
              </div>
            </div>
          </div>
        </div>
        
        <div v-if="view === 'queue'" class="d-flex">
          <div class="ms-2">
            <button @click="queue = []" class="playback-button text-danger">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-square-fill" viewBox="0 0 16 16">
                <path d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm3.354 4.646L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 1 1 .708-.708z"/>
              </svg>
            </button>
          </div>

          <div class="ms-auto">
            <button @click="shuffle(queue)" class="playback-button">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-shuffle" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M0 3.5A.5.5 0 0 1 .5 3H1c2.202 0 3.827 1.24 4.874 2.418.49.552.865 1.102 1.126 1.532.26-.43.636-.98 1.126-1.532C9.173 4.24 10.798 3 13 3v1c-1.798 0-3.173 1.01-4.126 2.082A9.624 9.624 0 0 0 7.556 8a9.624 9.624 0 0 0 1.317 1.918C9.828 10.99 11.204 12 13 12v1c-2.202 0-3.827-1.24-4.874-2.418A10.595 10.595 0 0 1 7 9.05c-.26.43-.636.98-1.126 1.532C4.827 11.76 3.202 13 1 13H.5a.5.5 0 0 1 0-1H1c1.798 0 3.173-1.01 4.126-2.082A9.624 9.624 0 0 0 6.444 8a9.624 9.624 0 0 0-1.317-1.918C4.172 5.01 2.796 4 1 4H.5a.5.5 0 0 1-.5-.5z"/>
                <path d="M13 5.466V1.534a.25.25 0 0 1 .41-.192l2.36 1.966c.12.1.12.284 0 .384l-2.36 1.966a.25.25 0 0 1-.41-.192zm0 9v-3.932a.25.25 0 0 1 .41-.192l2.36 1.966c.12.1.12.284 0 .384l-2.36 1.966a.25.25 0 0 1-.41-.192z"/>
              </svg>
            </button>
          </div>
          
          <div class="ms-2">
            <button @click="willLoop = !willLoop" class="playback-button" :class="{ 'bg-primary text-white': willLoop }">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-repeat" viewBox="0 0 16 16">
                <path d="M11.534 7h3.932a.25.25 0 0 1 .192.41l-1.966 2.36a.25.25 0 0 1-.384 0l-1.966-2.36a.25.25 0 0 1 .192-.41zm-11 2h3.932a.25.25 0 0 0 .192-.41L2.692 6.23a.25.25 0 0 0-.384 0L.342 8.59A.25.25 0 0 0 .534 9z"/>
                <path fill-rule="evenodd" d="M8 3c-1.552 0-2.94.707-3.857 1.818a.5.5 0 1 1-.771-.636A6.002 6.002 0 0 1 13.917 7H12.9A5.002 5.002 0 0 0 8 3zM3.1 9a5.002 5.002 0 0 0 8.757 2.182.5.5 0 1 1 .771.636A6.002 6.002 0 0 1 2.083 9H3.1z"/>
              </svg>
            </button>
          </div>
        </div>
      </div>

      <div class="flex-shrink-1 scroll-y h-100">
        <div v-if="view === 'library'">
          <div v-if="nav[0] === '~Library'">
            <nav-button page="~All Songs">
              All Songs
            </nav-button>

            <div class="mt-3">
              <div class="px-2 py-1 border-bottom opacity-75 small">
                Playlists
              </div>
              <nav-button v-for="playlist in playlists" :page="`playlist~${playlist.name}`" :key="playlist.name">
                {{ playlist.name }}
              </nav-button>

              <button @click="createPlaylist" class="btn btn-link text-decoration-none d-flex align-items-center">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus me-1" viewBox="0 0 16 16">
                  <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                </svg>
                Create Playlist
              </button>
            </div>

            <div v-if="artists.length > 0" class="mt-3">
              <div class="px-2 py-1 border-bottom opacity-75 small">
                Artists
              </div>
              <nav-button v-for="artist in artists" :page="`artist~${artist.name}`" :key="artist.name">
                {{ artist.name }}
              </nav-button>
            </div>
          </div>
          
          <div v-else>
            <div v-if="nav[0].startsWith('artist~')">
              <div v-if="artistsAlbums.length > 0">
                <div class="px-2 py-1 border-bottom opacity-75 small">
                  Albums
                </div>
                <nav-button v-for="album in artistsAlbums" :page="`album@${album.artist.name}~${album.name}`" :key="album.name">
                  {{ album.name }}
                </nav-button>
              </div>

              <div class="px-2 py-1 border-bottom opacity-75 small mt-3">
                Songs
              </div>
            </div>

            <div v-for="(song, i) in filteredSongs" class="border-bottom">
              <div @click="toggleOptions(song, i)" class="d-flex justify-content-between align-items-center p-2">
                <div class="text-truncate">
                  {{ song.title }}
                </div>

                <div class="btn btn-link">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-down" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/>
                  </svg>
                </div>
              </div>
              
              <div class="d-flex justify-content-end song-options px-2" :class="{ show: options.song === song && options.i === i }">
                <div class="me-auto">
                  <button @click="remove(song)" class="playback-button text-danger">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16">
                      <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z"/>
                    </svg>
                  </button>
                </div>

                <div class="ms-auto">
                  <button @click="beginEditing(song)" class="playback-button">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                      <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                      <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                    </svg>
                  </button>
                </div>

                <div v-if="nav[0].startsWith('playlist~')" class="ms-2">
                  <button @click="song.removeFromPlaylist(currentPage)" class="playback-button">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-folder-minus" viewBox="0 0 16 16">
                      <path d="m.5 3 .04.87a1.99 1.99 0 0 0-.342 1.311l.637 7A2 2 0 0 0 2.826 14H9v-1H2.826a1 1 0 0 1-.995-.91l-.637-7A1 1 0 0 1 2.19 4h11.62a1 1 0 0 1 .996 1.09L14.54 8h1.005l.256-2.819A2 2 0 0 0 13.81 3H9.828a2 2 0 0 1-1.414-.586l-.828-.828A2 2 0 0 0 6.172 1H2.5a2 2 0 0 0-2 2zm5.672-1a1 1 0 0 1 .707.293L7.586 3H2.19c-.24 0-.47.042-.683.12L1.5 2.98a1 1 0 0 1 1-.98h3.672z"/>
                      <path d="M11 11.5a.5.5 0 0 1 .5-.5h4a.5.5 0 1 1 0 1h-4a.5.5 0 0 1-.5-.5z"/>
                    </svg>
                  </button>
                </div>
  
                <div class="ms-2">
                  <button @click="playlist.adding = song" class="playback-button">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-folder-plus" viewBox="0 0 16 16">
                      <path d="m.5 3 .04.87a1.99 1.99 0 0 0-.342 1.311l.637 7A2 2 0 0 0 2.826 14H9v-1H2.826a1 1 0 0 1-.995-.91l-.637-7A1 1 0 0 1 2.19 4h11.62a1 1 0 0 1 .996 1.09L14.54 8h1.005l.256-2.819A2 2 0 0 0 13.81 3H9.828a2 2 0 0 1-1.414-.586l-.828-.828A2 2 0 0 0 6.172 1H2.5a2 2 0 0 0-2 2zm5.672-1a1 1 0 0 1 .707.293L7.586 3H2.19c-.24 0-.47.042-.683.12L1.5 2.98a1 1 0 0 1 1-.98h3.672z"/>
                      <path d="M13.5 10a.5.5 0 0 1 .5.5V12h1.5a.5.5 0 1 1 0 1H14v1.5a.5.5 0 1 1-1 0V13h-1.5a.5.5 0 0 1 0-1H13v-1.5a.5.5 0 0 1 .5-.5z"/>
                    </svg>
                  </button>
                </div>
  
                <div class="ms-auto">
                  <button @click="playNow(song)" class="playback-button">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-play-fill" viewBox="0 0 16 16">
                      <path d="m11.596 8.697-6.363 3.692c-.54.313-1.233-.066-1.233-.697V4.308c0-.63.692-1.01 1.233-.696l6.363 3.692a.802.802 0 0 1 0 1.393z"/>
                    </svg>
                  </button>
                </div>
                <div class="ms-2">
                  <button @click="addToQueue(song)" class="playback-button">
                    <svg style="transform: scaleY(-1);" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-90deg-left" viewBox="0 0 16 16">
                      <path fill-rule="evenodd" d="M1.146 4.854a.5.5 0 0 1 0-.708l4-4a.5.5 0 1 1 .708.708L2.707 4H12.5A2.5 2.5 0 0 1 15 6.5v8a.5.5 0 0 1-1 0v-8A1.5 1.5 0 0 0 12.5 5H2.707l3.147 3.146a.5.5 0 1 1-.708.708l-4-4z"/>
                    </svg>
                  </button>
                </div>
                <div class="ms-2">
                  <button @click="addToQueue(song, true)" class="playback-button">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-90deg-left" viewBox="0 0 16 16">
                      <path fill-rule="evenodd" d="M1.146 4.854a.5.5 0 0 1 0-.708l4-4a.5.5 0 1 1 .708.708L2.707 4H12.5A2.5 2.5 0 0 1 15 6.5v8a.5.5 0 0 1-1 0v-8A1.5 1.5 0 0 0 12.5 5H2.707l3.147 3.146a.5.5 0 1 1-.708.708l-4-4z"/>
                    </svg>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div v-else-if="view === 'queue'">
          <div v-for="(obj, i) in queue">
            <div class="d-flex align-items-center justify-content-between p-2 border-bottom">
              <div class="text-truncate">
                {{ obj.song.title }}
              </div>

              <button @click="queue.splice(i, 1)" class="btn btn-lg text-danger">
                &times;
              </button>
            </div>
          </div>

          <div v-if="queue.length === 0" class="d-flex h-100 align-items-center justify-content-center p-4">
            <div>
              Nothing in Up Next.
              <br>
              <button @click="view = 'library'" class="btn btn-link">
                Go to Library
              </button>
            </div>
          </div>
        </div>

        <div v-if="alert.song" class="position-fixed top-0 p-3 pb-0 w-100 action-alert" :class="{ show: alert.show }">
          <div class="alert alert-success m-0 px-3 py-2">
            Playing
            <span v-if="alert.song.pop"> <!-- alert.song is an array -->
              {{ alert.song.length }} Songs
            </span>
            <span v-else>
              '{{ alert.song.title }}'
            </span>
            {{ alert.type }}
          </div>
        </div>
      </div>

      <div style="background-color: #88888820;" class="p-2 pb-0">
        <div v-if="currentSong" class="text-truncate mb-1 px-3">
          {{ currentSong.title }}
        </div>

        <div class="d-flex align-items-center justify-content-between">
          <button @click="togglePlayback" class="btn" :disabled="!player">
            <svg v-if="!player || paused" xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-play-fill" viewBox="0 0 16 16">
              <path d="m11.596 8.697-6.363 3.692c-.54.313-1.233-.066-1.233-.697V4.308c0-.63.692-1.01 1.233-.696l6.363 3.692a.802.802 0 0 1 0 1.393z"/>
            </svg>
            <svg v-else xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-pause-fill" viewBox="0 0 16 16">
              <path d="M5.5 3.5A1.5 1.5 0 0 1 7 5v6a1.5 1.5 0 0 1-3 0V5a1.5 1.5 0 0 1 1.5-1.5zm5 0A1.5 1.5 0 0 1 12 5v6a1.5 1.5 0 0 1-3 0V5a1.5 1.5 0 0 1 1.5-1.5z"/>
            </svg>
          </button>

          <div class="flex-grow-1 px-2">
            <input type="range" @input="seek" v-model="songProgress" :disabled="!player" class="form-range" min="0" max="1" step="0.0001">
          </div>

          <div v-if="player" class="small opacity-75 px-2">
            {{ formatTime(player.currentTime) }}&nbsp;/&nbsp;{{ formatTime(player.duration) }}
          </div>

          <button @click="skip" class="btn">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-skip-forward-fill" viewBox="0 0 16 16">
              <path d="M15.5 3.5a.5.5 0 0 1 .5.5v8a.5.5 0 0 1-1 0V8.753l-6.267 3.636c-.54.313-1.233-.066-1.233-.697v-2.94l-6.267 3.636C.693 12.703 0 12.324 0 11.693V4.308c0-.63.693-1.01 1.233-.696L7.5 7.248v-2.94c0-.63.693-1.01 1.233-.696L15 7.248V4a.5.5 0 0 1 .5-.5z"/>
            </svg>
          </button>
        </div>

        <div class="d-flex justify-content-around">
          <button @click="view = 'library'" class="btn btn-sm" :class="{ 'text-primary' : view == 'library' }">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-music-note-list" viewBox="0 0 16 16">
              <path d="M12 13c0 1.105-1.12 2-2.5 2S7 14.105 7 13s1.12-2 2.5-2 2.5.895 2.5 2z"/>
              <path fill-rule="evenodd" d="M12 3v10h-1V3h1z"/>
              <path d="M11 2.82a1 1 0 0 1 .804-.98l3-.6A1 1 0 0 1 16 2.22V4l-5 1V2.82z"/>
              <path fill-rule="evenodd" d="M0 11.5a.5.5 0 0 1 .5-.5H4a.5.5 0 0 1 0 1H.5a.5.5 0 0 1-.5-.5zm0-4A.5.5 0 0 1 .5 7H8a.5.5 0 0 1 0 1H.5a.5.5 0 0 1-.5-.5zm0-4A.5.5 0 0 1 .5 3H8a.5.5 0 0 1 0 1H.5a.5.5 0 0 1-.5-.5z"/>
            </svg>

            <br>
            <small>
              Library
            </small>
          </button>
          <button @click="view = 'queue'" class="btn btn-sm" :class="{ 'text-primary' : view == 'queue' }">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-collection-play-fill" viewBox="0 0 16 16">
              <path d="M2.5 3.5a.5.5 0 0 1 0-1h11a.5.5 0 0 1 0 1h-11zm2-2a.5.5 0 0 1 0-1h7a.5.5 0 0 1 0 1h-7zM0 13a1.5 1.5 0 0 0 1.5 1.5h13A1.5 1.5 0 0 0 16 13V6a1.5 1.5 0 0 0-1.5-1.5h-13A1.5 1.5 0 0 0 0 6v7zm6.258-6.437a.5.5 0 0 1 .507.013l4 2.5a.5.5 0 0 1 0 .848l-4 2.5A.5.5 0 0 1 6 12V7a.5.5 0 0 1 .258-.437z"/>
            </svg>

            <br>
            <small>
              Up Next
            </small>
          </button>
        </div>
      </div>
    </div>

    <div v-if="playlist.adding" class="position-fixed w-100 h-100 top-0 bg-body p-4 d-flex flex-column justify-content-center">
      <div v-if="playlist.adding.pop"> <!-- playlist.adding is an array -->
        <h6 v-if="playlist.adding.length === 1">
          Adding '{{ playlist.adding[0].title }}'
        </h6>
        <h6 v-else>
          Adding {{ playlist.adding.length }} songs
        </h6>
      </div>
      <h6 v-else>
        Adding '{{ playlist.adding.title }}'
      </h6>

      <form @submit.prevent="addSelectedToPlaylist">
        <datalist id="playlist-names">
          <option v-for="playlist in playlists" :value="playlist.name">
        </datalist>
        <input v-model="playlist.name" placeholder="Playlist Name" type="text" class="form-control" list="playlist-names">

        <div class="d-flex justify-content-end mt-3">
          <button type="button" @click="playlist.adding = null; playlist.name = ''" class="btn btn-sm btn-secondary">
            Cancel
          </button>
          <button @click="addSelectedToPlaylist" class="btn btn-sm btn-primary ms-3">
            Add
          </button>
        </div>
      </form>
    </div>

    <div v-if="songEditor.editing" class="position-fixed w-100 h-100 top-0 bg-body d-flex flex-column justify-content-center">
      <div class="container p-4">
        <form @submit.prevent="editSelected">
          <h6 v-if="songEditor.editing.pop">
            Editing {{ songEditor.editing.length }} songs
          </h6>
  
          <div v-else class="row align-items-center g-2 mt-2">
            <div class="col-3">
              Title
            </div>
            <div class="col">
              <input v-model="songEditor.title" type="text" class="form-control">
            </div>
          </div>
          <div class="row align-items-center g-2 mt-2">
            <div class="col-3">
              Artist
            </div>
            <div class="col">
              <input v-model="songEditor.artist" :placeholder="songEditor.defaults.artist || 'various'" type="text" class="form-control">
            </div>
          </div>
          <div class="row align-items-center g-2 mt-2">
            <div class="col-3">
              Album
            </div>
            <div class="col">
              <input v-model="songEditor.album" :placeholder="songEditor.defaults.album || 'various'" type="text" class="form-control">
            </div>
          </div>
  
          <div class="d-flex justify-content-end mt-3">
            <button type="button" @click="clearEditor" class="btn btn-sm btn-secondary">
              Cancel
            </button>
            <button type="submit" class="btn btn-sm btn-primary ms-3">
              Save
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <template id="nav-button">
    <button @click="navigate" class="btn p-2 rounded-0 border-bottom d-flex justify-content-between align-items-center w-100">
      <div>
        <slot></slot>
      </div>
      <div>
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-right" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"/>
        </svg>
      </div>
    </button>
  </template>

  <script src="lib/music-metadata-browser.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>

  <script src="db.js"></script>
  <script src="app.js"></script>
</body>
</html>