.scroll-y {
  overflow-y: scroll;
}

.playback-button {
  color: inherit;
  font-size: 0.5rem;
  background-color: #88888830;
  border-radius: 2em;
  border: none;
  padding: 1em;
}
.playback-button:active {
  background-color: #88888860;
}

.full-page-modal {
  width: 100%;
  height: 100%;
  z-index: 5;

  position: fixed;
  top: 0;

  background-color: white;
}
@media (prefers-color-scheme: dark) {
  .full-page-modal {
    background-color: black;
  }
}

.song-options {
  max-height: 3em;
  overflow: hidden;
  margin-bottom: 0.5em;

  transition: ease-in-out 0.5s;
  transition-property: max-height, margin-bottom;
}
.song-options:not(.show) {
  max-height: 0;
  margin-bottom: 0;
}

.action-alert {
  position: fixed;
  top: 0;

  transition: all ease-in-out 0.5s;
}
.action-alert-enter, .action-alert-leave-to {
  top: -100%;
  opacity: 0;
}

.queue-enter-active {
  transition: top 0.5s ease-in-out;
}
.queue-leave-active {
  transition: top 0.5s ease-in;
}
.queue-enter, .queue-leave-to {
  top: 100%;
}

.reorderable-move {
  transition: transform 0.5s;
}
.reorderable-moving {
  background-color: #88888820;
}

.border-bottom { border-bottom: 1px solid #88888840!important; }
.bg-gray { background-color: #88888820; }
.btn-link { text-align: start; }