.scroll-y {
  overflow-y: scroll;
}

.playback-button {
  color: inherit;
  font-size: 0.5rem;
  background-color: #88888830;
  border-radius: 2em;
  border: none;
  padding: 1em;
}
.playback-button:active {
  background-color: #88888860;
}

.song-options {
  max-height: 3em;
  overflow: hidden;
  margin-bottom: 0.5em;

  transition: ease-in-out 0.5s;
  transition-property: max-height, margin-bottom;
}
.song-options:not(.show) {
  max-height: 0;
  margin-bottom: 0;
}

.action-alert {
  position: fixed;
  top: 0;

  transition: opacity ease-out 0.5s, visibility 0.5s;
}
.action-alert:not(.show) {
  visibility: hidden;
  opacity: 0;
}

.border-bottom {
  border-bottom: 1px solid #88888840!important; /* override Bootstrap */
}